@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	position: relative;
	font-weight: normal;
	font-family: 'Raleway', sans-serif;
}

body {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@import "heading3d.scss";
@import "nav.scss";
@import "main.scss";
@import "footer.scss";
@import "scrollbar.scss";
body[dark] {
	a {
		color: #7389be;
	}
}
