@import url('https://fonts.googleapis.com/css?family=Kanit:900');

$LIGHTING_FLOOR: 1;
$LIGHTING_CEIL: 2;
$LIGHTING_FLAT: 3;

@mixin text3d(
	$primary,
	$depth: 5,
	$shadowSteps: 5,
	$shadowIncrementer: 3px,
	$shadowOpacity: .5,
	$primaryShadowColor: #000,
	$lighting: $LIGHTING_CEIL) {
	$predefinedShadows: (
		0 0 5px rgba($primaryShadowColor, .05),
		0 -1px 3px rgba($primaryShadowColor, .2),
		0 3px 5px rgba($primaryShadowColor, .2));
	$value: ();
	@for $i from 1 through $depth {
		$num: $i + px;
		$hueAdjust: $i;
		@if($lighting == $LIGHTING_FLOOR) {
			$hueAdjust: ($i * 2 - $depth - 5) * 1%;
		} @else if($lighting == $LIGHTING_CEIL) {
			$hueAdjust: -($i*2 + $depth - 10) * 1%;
		} @else if($lighting == $LIGHTING_FLAT) {
			$hueAdjust: -$depth * 1%;
		}
		$colour: adjust-color($primary, $lightness: $hueAdjust);
		$theShadow: 0 $num 0 $colour;
		$value: append($value, $theShadow, comma);
	}

	@for $i from 1 through $shadowSteps {
		@if($i >= length($predefinedShadows)) {
			$dist: $i * $shadowIncrementer;
			$value: append($value, 0 $dist $dist rgba($primaryShadowColor, $shadowOpacity));
		} @else {
			$value: append($value, nth($predefinedShadows, $i));
		}
	}

	text-shadow: $value;
}

$primaryColor: rgb(230,190,190);

#brand {
	margin: 0;
	color: #FFF;
	font-size: 2rem;
	line-height: 2rem;
	font-family: "Kanit", serif;

	@include text3d(
			adjust-color($primaryColor, $lightness: -8%),
		$depth: 5,
		$primaryShadowColor: adjust-color(
				$primaryColor,
			$lightness: -10%,
			$saturation: +20%
		),
		$shadowOpacity: .3
	);
}

body[dark] {
	#brand {
		color: #a8a8a8;
		@include text3d(
				adjust-color(grey, $lightness: -8%),
			$depth: 5,
			$primaryShadowColor: adjust-color(
					grey,
				$lightness: -10%,
				$saturation: +20%
			),
			$shadowOpacity: .3
		);
	}
}
