main {
	padding: 1rem;
	.subtitle {
		padding-left: .5rem;
	}
	#converter {
		padding-inline: .5rem;
		display: flex;
		gap: 2rem;

		@media only screen and (max-width: 768px) {
			flex-direction: column;
			.markdown, .o-html {
				flex: 100%;
			}
		}

		.markdown, .o-html {
			flex: 50%;
			.head {
				margin-bottom: .5rem;
				display: flex;
				align-items: center;
				gap: .5rem;
				flex-wrap: wrap;
				.section-title {
					font-size: 1rem;
					font-weight: bold;
				}
			}
		}
		.markdown {
			#md-input {
				width: 100%;
				min-height: 72vh;
				padding: .5rem;
				resize: none;
				font-size: 1rem;
			}
			.clear {
				position: absolute;
				right: 0;
				padding: .2rem;
				font-size: .5rem;
			}
		}
		.o-html {
			.head {
				.time-taken {
					font-size: 1rem;
					color: green;
					span {
						font-weight: 700;
					}
				}
			}
			.preview-pane {
				outline: 1px solid rgb(118,118,118);
				padding: .5rem;
				min-height: 72vh;
				max-height: 72vh;
				overflow-y: auto;
				overflow-x: auto;

				@media only screen and (min-width: 769px) {
					max-width: 47vw;
				}

				&:hover {
					outline: 2px solid #000;
				}
				p {
					font-size: 1rem;
					line-height: 1.2rem;
				}
				p,h1,h2,h3,h4,h5,h6,th,td {
					inline-size: 100%;
					overflow-wrap: break-word;
				}
				h1,h2,h3,h4,h5,h6,p,ul,ol,table,pre,blockquote {
					margin-bottom: 1rem;
				}
				ul,ol {
					li {
						margin-inline: 1rem;
						gap: .5rem;
						*:only-child {
							margin-bottom: 0;
						}
						*:last-child {
							margin-bottom: 0;
						}
					}
				}
				strong {
					font-weight: bold;
				}
				code {
					background-color: #f5f5f5;
					padding: 0 0.4rem;
					border-radius: 2px;
					border: 1px solid #000;
					line-height: calc(1rem + .4rem);
				}
				table {
					border-collapse: collapse;
					table-layout: fixed;
					width: 100%;
					&:hover {
						outline: 2px solid #000;
					}
					th, td {
						border: 1px solid #000;
						padding: 0.5rem;
					}
					th {
						font-weight: bold;
					}
				}
				pre > code {
					border: none;
					background: transparent;
					margin: 0;
					padding: 0;
				}
				pre {
					background-color: #dcdbdb;
					padding: 0.5rem;
					border-radius: 2px;
					outline: 1px solid #000;
					line-height: calc(1rem + .4rem);
					overflow-x: auto;
				}
				blockquote {
					border-top-right-radius: 4px;
					border-bottom-right-radius: 4px;
					border-left: 4px solid #607D8B;
					border-top: 1px solid #607D8B;
					border-bottom: 1px solid #607D8B;
					border-right: 1px solid #607D8B;
					padding: .5rem;
					color: #6a6a6a;
					background: #d0d2d9;
					*:only-child {
						margin: 0;
					}
					*:last-child {
						margin-bottom: 0;
					}
					ul, ol {
						margin-left: 1rem;
					}
				}
				h1 {
					font-size: 3.2rem;
					line-height: 4rem;
					font-weight: 700;
				}
				h2 {
					font-size: 2.8rem;
					line-height: 3.5rem;
					font-weight: 600;
				}
				h3 {
					font-size: 2.4rem;
					line-height: 3rem;
					font-weight: 500;
				}
				h4 {
					font-size: 2rem;
					line-height: 2.6rem;
					font-weight: 500;
				}
				h5 {
					font-size: 1.6rem;
					line-height: 2.2rem;
					font-weight: 500;
				}
				h6 {
					font-size: 1.2rem;
					line-height: 1.6rem;
					font-weight: 500;
				}
			}
		}
	}
}

body[dark] {
	background-color: #252525;
	color: #fff;
	main {
		#md-input {
			background-color: transparent;
			color: #fff;
		}
		.preview-pane {
			&:hover {
				outline-color: white !important;
			}
			blockquote {
				background: #171718 !important;
				border-color: #627178 !important;
				color: #b7b7b7 !important;
			}
			code {
				background-color: #2d2d2d !important;
				border-color: white !important;
				color: #b7b7b7 !important;
			}
			pre {
				background-color: #131313 !important;
				outline-color: #989898 !important;
				color: #818181 !important;
			}
			pre > code {
				background-color: transparent !important;
			}
			table {
				&:hover {
					outline-color: #b7b7b7 !important;
				}
				th, td {
					border-color: #b7b7b7 !important;
				}
			}
		}
		.head {
			select {
				background-color: #2d2d2d !important;
				color: #b7b7b7 !important;
			}
			.time-taken {
				color: #8BC34A !important;
			}
			.clear {
				background: black;
				//border-color: white;
			}
		}
	}
}
