nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.2rem .5rem;
	background-color: #ffc1073b;
	.logo {
		width: 5rem;
		height: auto;
	}
	h1 {
		cursor: default;
	}
	.nav-actions {
		display: flex;
		align-items: center;
		gap: 1rem;
		.theme {
			border-radius: 50%;
			border: 1px solid #000;
			padding: .3rem;
			font-size: 1rem;
			background: #fff;
			cursor: pointer;
		}
		.give-a-star {
			text-decoration: none;
			color: #000;
			outline: 1px solid #000;
			padding: .3rem;
			border-radius: 2px;
			background: #fff;
			&::before {
				position: absolute;
				content: "";
				width: 0;
				height: 0;
				animation: width 1s ease-in-out;
			}
		}
	}
}

body[dark] {
	nav {
		background-color: #3e3e3e;
		color: #fff;

		.logo {
			filter: invert(1);
		}

		.theme, .give-a-star {
			background: #1a1a1a;
			border-color: whitesmoke;
			color: white;
		}
	}
}
