on:
  push:
    branches:
      - 'main'
    paths:
      - 'lib/**'
      - 'tests/**'
      - 'pnpm-lock.yaml'
      - 'package.json'
      - 'jest.config.js'
      - '.eslintrc'
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - uses: pnpm/action-setup@v4
        with:
          version: 10.x.x

      - name: Setup NodeJS
        uses: actions/setup-node@v6
        with:
          node-version: '22'
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Lint
        run: pnpm lint

      - name: Unit & Integration tests
        run: pnpm jest

      - name: JS Code Coverage Summary Report
        if: ${{ github.event_name == 'pull_request' }}
        uses: romeovs/lcov-reporter-action@v0.3.1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          lcov-file: ./outputs/coverage/lcov.info
          delete-old-comments: true
          title: JS Code Coverage

      - name: JS coverage check
        if: ${{ github.event_name == 'pull_request' }}
        uses: VeryGoodOpenSource/very_good_coverage@v1.2.0
        with:
          min_coverage: 70
          path: ./outputs/coverage/lcov.info
